:root {
  font-size: 1.5vw;
  --clr-standard: rgb(35, 75, 146);
  --clr-light: rgb(69, 154, 216);
  --clr-dark: rgb(14, 41, 99);
  --clr-white: hsl(0, 0%, 100%);
  --clr-black: hsl(0, 0%, 0%);
}

#root {
  height: 100vh;
}

.App {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.header-nav-icon {
  background-color: var(--clr-standard);
  border: 0.07rem solid white;
}

.header-nav-icon-selected {
  background-color: var(--clr-light);
  border: 0.07rem solid white;
}

.flip-animation {
  animation: flip 0.5s;
}

@keyframes flip {
  from {
    transform: rotateX(0deg);
    opacity: 0;
  }

  to {
    transform: rotateX(360deg);
    opacity: 1;
  }
}
.main-content-light{
  flex: 1;
  background-color: var(--clr-light);
}

.main-content {
  flex: 1;
  background-color: var(--clr-standard);

  .video-player video {
    width: 100%;
    /* Adjust as necessary */
    display: block;
  }
}

.left-sidebar{
  width: 14.28%;
  height: 100%;
  background-color: var(--clr-light);
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;

  .sidebar-caption{
    text-transform: uppercase;
    color: var(--clr-white);
    font-size: 3rem;
    letter-spacing: 0.3rem;
    text-align: start;
    transform: rotate(-90deg);
    white-space: nowrap;
    margin: 0 auto;
  }
}

.right-sidebar{
  width: 85.71%;
  background-color: var(--clr-standard);
}


footer {
  .carousel {
    position: relative;
    width: 100%;
    height: 32vw;
    overflow: hidden;
  }

  .slide {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    transition: opacity 2s ease-in-out;
    /* Apply an opacity transition */
    opacity: 0;
    /* By default, all slides are transparent */
    pointer-events: none;
    /* Ensure transparent slides don't receive clicks */
  }

  .slide.active {
    opacity: 1;
    /* The active slide is opaque */
    pointer-events: all;
    /* The active slide can receive clicks */
  }
}