:root {
  font-size: 1.5vw;
  --clr-standard: rgb(35, 75, 146);
  --clr-light: rgb(69, 154, 216);
  --clr-dark: rgb(14, 41, 99);
  --clr-standard-light: rgb(30, 119, 182);
  --clr-dark-background: rgb(14, 41, 99, 0.75);
  --clr-white: rgb(255, 255, 255);
  --clr-black: rgb(18, 18, 18);
}

#root {
  height: 100vh;
}

.App {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.header-nav-icon {
  background-color: var(--clr-standard);
  border: 0.07rem solid white;
}

.header-nav-icon-selected {
  background-color: var(--clr-light);
  border: 0.07rem solid white;
}

.flip-animation {
  animation: flip 0.5s;
}

@keyframes flip {
  from {
    transform: rotateX(0deg);
    opacity: 0;
  }

  to {
    transform: rotateX(360deg);
    opacity: 1;
  }
}

.main-content-light {
  flex: 1;
  background-color: var(--clr-light);
}

.main-content {
  flex: 1;
  background-color: var(--clr-standard);
  overflow: hidden;

  .video-player video {
    width: 100%;
    /* Adjust as necessary */
    display: block;
  }
}

.left-sidebar {
  width: 14.28%;
  height: 100%;
  background-color: var(--clr-standard-light);
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 100;

  .sidebar-caption {
    text-transform: uppercase;
    color: var(--clr-white);
    font-size: 3rem;
    letter-spacing: 0.3rem;
    text-align: start;
    transform: rotate(-90deg);
    white-space: nowrap;
    margin: 0 auto;
  }
}

.right-sidebar {
  width: 85.71%;
  background-color: var(--clr-light);
  position: relative;
  display: flex;
  flex-direction: column;

  .upper-caption {
    background-color: var(--clr-dark);
    color: var(--clr-white);
    font-size: 2.5rem;
    letter-spacing: 0.5rem;
    text-transform: uppercase;
    padding: 1rem 0 1rem 0;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;

  }

  .content-list {
    overflow-y: scroll;

    &::-webkit-scrollbar {
      width: 1rem;
    }

    &::-webkit-scrollbar-track {
      background: var(--clr-light)
    }

    &::-webkit-scrollbar-thumb {
      background: var(--clr-standard-light)
    }

    &::-webkit-scrollbar-thumb:hover {
      background: #555;
    }
  }

  .index-caption {
    width: 100%;
    margin: 0;
    position: absolute;
    bottom: 0;
    z-index: 10;
    text-align: center;
    text-transform: uppercase;
    background: var(--clr-dark-background);
    padding: 1.5rem 0 1.5rem 0;
    font-size: 2rem;
    letter-spacing: 0.3rem;
    color: var(--clr-white);

  }

  .sidebar-view {
    width: 100%;
    height: 13.8vw;
    gap: 10vw;
    display: flex;
    align-items: center;
    border-bottom: 0.1rem solid var(--clr-white);
  }

  .sidebar-caption-large {
    color: var(--clr-white);
    font-size: 2rem;
    text-transform: uppercase;
  }

  .sidebar-caption-small {
    font-size: 1.2rem;
    color: var(--clr-white);
  }

  .carousel-indicators button {
    background-color: var(--clr-dark);
    width: 1rem;
    height: 1rem;
    border-radius: 50%;
  }

  .carousel-control-prev,
  .carousel-control-next {
    width: 3rem;
  }

  .carousel-control-prev-icon,
  .carousel-control-next-icon {
    filter: invert(100%);

  }
}


footer {
  height: 32vw;

  .carousel {
    position: relative;
    width: 100%;
    height: 32vw;
    overflow: hidden;
  }

  .slide {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    transition: opacity 2s ease-in-out;
    opacity: 0;
    pointer-events: none;
  }

  .slide.active {
    opacity: 1;
    pointer-events: all;
  }
}